html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #EEF0F4;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #1B262c;
}

/* Header h1 */
.header {
    font-weight: bold;
    color: #1B262c;
    text-align: center;
}

/* Navbar text */

nav {
    z-index: 1;
    width: 100%;
    position: absolute;
    top: 0;
}

.nav-item {
    font-weight: bold;
}

.nav-link {
    font-size: 2rem;
}

a:hover, a:visited, a:hover a:active {
    text-decoration: none;
}

.navbar-logo {}

.navbar-heading {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 500;
    font-size: 4rem;
    margin-left: 10px;
}
.heading-link {
    color: #222222;
}

/* form */

form {
    background-color: #F0DBDB;
    padding: 20px;
    border: groove 2px #DBA39A;
    box-shadow: 0px 0px 10px #DBA39A;
}


/* Individual Styling Classes */

.inline-block {
    display: inline-block;
}

.background-img {
    z-index: 2;
    background: url(../static/photos/back.jpg);
    position: relative;
    overflow: hidden;
}

.zero-left {
    padding-left: 0;
}


/* Footer */


/* End Footer */