{% extends 'base.html' %} {% load static%}
{% block content %}  
{% if user.is_authenticated %}
<h1>Hello</h1>
{% else %}
<!-- Video section -->
<section>
  <div class="container h-100">
    <div class="row align-items-center">
      <div class="col-md-6 justify-content-left">
        <video
          autoplay
          muted
          loop
          src="{% static 'video/video1.mp4' %}"
          style="height: 100vh; width: 50vh"
        ></video>
      </div>
      <div class="col-md-6 h-100">
        <h1 class="header">Welcome to PicQuest</h1>

        <p class="header">
          Do you have a special photo that you want to share? <br />
          <a href="{% url 'account_signup' %}">Sign Up</a> or
          <a href="{% url 'account_login' %}">Login</a> and join the contest!
        </p>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!--/ Video section End -->
{% endblock %}
